<h1>Tickets#index</h1>
<p>Find me in app/views/tickets/index.html.erb</p>

<% if @tickets.any? %>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>State</th>
      </tr>
    </thead>
    <tbody>
      <% @tickets.each do |ticket| %>
        <tr>
          <td><%= ticket.id %></td>
          <td><%= ticket.name %></td> <!-- Displaying the name of the ticket -->
          <td><%= ticket.email %></td> <!-- Displaying the email associated with the ticket -->
          <td><%= ticket.state %></td> <!-- Displaying the state of the ticket -->
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No tickets found.</p>
<% end %>